

*
{
    padding:0;
    margin:0;
}

.container
{
    display:flex;
    border: 1px solid;
    flex-basis:content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:50px 320px;
    padding:0;
}
.gridContainer
{
    display:grid;
    border:5px solid;
    margin:10px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    align-items: center;
    justify-content: center;
    padding:0;
    
}
.gridItems
{
    display:block;
    width:  20px;
    height: 20px;
    box-sizing: border-box;
    user-select: none;
}


.itemsContainer
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.gridItems:hover
{
    background-color:red;
}
.clear-button
{
    margin:0 20px;
}
.erase-button
{
    margin:0 20px;
}
.draw-button
{
    margin:0 20px;
}

button:active
{
    background-color: lightblue;
}
button:focus
{
    background-color: red;
}

/* #color-change 
{
    background-color: red;
}
#color-erase
{
    background-color:white;
} */